/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

.stroka {
    border: 0px;
}

.button {
    background: -moz-linear-gradient(#00BBD6, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    box-shadow: 3px 2px slateblue;
}
.button:active{
    background: -moz-linear-gradient(#7476ff, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#7476ff), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}
.button:hover{
    box-shadow: 3px 2px rgb(172, 90, 205);
}

.gradient {
    background: linear-gradient(to top, #fefcea, #454743);
}

.stolbik:nth-child(even) {
    background: rgb(153, 255, 255);
}
